.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}
.body span {
  font-size: 74px;
  font-weight: 700;
}
.body p {
  margin-top: 0;
  opacity: 0.4;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
