.body {
  display: flex;
  flex-direction: row;
  transform: translateY(50%);
  width: 100%;
  z-index: 5;
}
.element {
  padding: 0 15px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
